# Node
node_modules/
npm-debug.log
yarn-error.log
dist/
build/

# Maven
target/
*.war
*.ear
*.apk

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Java
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar

# OS
.DS_Store
Thumbs.db
